.text-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}

.text-big-bold {
  font-weight: bold;
  font-size: 20px;
}
.text-big-bold-2 {
  font-weight: bold;
  font-size: 16px;
}

.pad-t-9 {
  padding-top: 9px;
}

.pad-65 {
  padding-left: 65%;
}
