<ion-card (click)="openCategory()">
  <ion-card-content>
    <div class="flex text-center">
      <div class="ion-float-right">
        <div class="text-big-bold">
          {{category.name}}
        </div>
        <div>
          {{category.updatedAt | date:'d MMM y h:mm a'}}
        </div>
      </div>
      <div class="ion-float-left">
        <div class="text-big-bold">
          <ion-icon [ngStyle]="{'color':category.color}" size="large" name="ellipse"></ion-icon>    <span class="text-big">{{category.balance}}</span>
        </div>
      </div>

    </div>

  </ion-card-content>
</ion-card>
