<div *ngIf="user">
  <ion-tabs *ngIf="user && user.id">

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="user">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="categories">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="goals">
        <ion-icon name="earth"></ion-icon>
        <ion-label>Tools</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

  <ion-grid *ngIf="!user || !user.id">
    <ion-row>
      <ion-col class="ion-text-center">
        <h2>Connect</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <form #form="ngForm" (ngSubmit)="save(form)" novalidate >

          <ion-item>
            <ion-label position="floating">Your Name</ion-label>
            <ion-input type="text"  #nameCtrl="ngModel"  required name="name" [(ngModel)]="user.name"></ion-input>
          </ion-item>
          <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
            <ion-text color="danger">
              Name is required
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Your Email</ion-label>
            <ion-input type="email"   #emailCtrl="ngModel"  required [pattern]="emailPattern" name="email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <ion-text color="danger">
              email is required
            </ion-text>
          </ion-item>
          <ion-button expand="block" [disabled]="!form.valid" type="submit">Save</ion-button>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>

</div>
