<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="type=='in'">Cash In</span>
      <span *ngIf="type=='out'">Cash Out</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="save(form)" novalidate>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" placeholder="Select Date" name="date" pickerFormat="DD MMM YYYY"
                    [(ngModel)]="entry.date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" #titleCtrl="ngModel" name="title" [maxlength]="20" [(ngModel)]="entry.title"></ion-input>
    </ion-item>
    <ion-item *ngIf="!titleCtrl.valid && titleCtrl.touched">
      <ion-text color="danger">
        title is required
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" #amountCtrl="ngModel" required name="amount" color="danger" [min]="0.1" [max]="9999"
                 [(ngModel)]="entry.amount"></ion-input>
    </ion-item>
    <ion-item *ngIf="!amountCtrl.valid && amountCtrl.touched">
      <ion-text color="danger">
        amount is required
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [value]="entry.categoryId?entry.categoryId:1"   [(ngModel)]="entry.categoryId" name="categoryId">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" [disabled]="!form.valid" type="submit">Save</ion-button>
  </form>

</ion-content>
