.cash-div{
  display: flex;
}
.cash-span{
  margin-top: 6px;
}
.text-big-bold{
  font-weight: bold;
  font-size: 20px;
}
.text-big{
  font-size: 35px;
}
.full-width{
  width: 50%;
}
.margin-top-20{
  margin-top: 20%;
}
.center-text{
  text-align: center;

}
