<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span>{{category.name}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="center-text">
  <div>
    <div class="">
      <div class="text-big-bold">
        <ion-icon [ngStyle]="{'color':category.color}" size="large" name="ellipse"></ion-icon> <span class="text-big">{{category.balance}}{{currency}}</span>
      </div>
    </div>
    <div class="">
      <div *ngIf="category.createdAt">
        Created: {{category.createdAt | date:'d MMM y h:mm a'}}
      </div>
      <div *ngIf="category.updatedAt">
        Updated: {{category.updatedAt | date:'d MMM y h:mm a'}}
      </div>
    </div>
  </div>
</div>
<ion-content [scrollEvents]="true" [scrollY]="true">

  <div class="margin-top-20">
    <div *ngFor="let entry of category.entries">
      <app-entry-view [entry]="entry"></app-entry-view>
    </div>
  </div>

</ion-content>
