<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div >
            <ion-text *ngIf="entry.type=='in'" color="success " class="text-big-bold">
              {{entry.amount}}
            </ion-text>
            <ion-text *ngIf="entry.type=='out'" color="danger" class="text-big-bold">
              {{entry.amount}}
            </ion-text>
            <div class="text-big-bold-2">
              {{category.name}}
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
            {{entry.date | date:'d MMM y h:mm a'}}
          </div>
          <div class="pad-t-9">
            {{entry.title}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
