<ion-card>
  <ion-card-content>
    <div class="flex text-center">
      <div class="ion-float-right">
        <div>
          {{entry.date | date:'d MMM y h:mm a'}}
        </div>
        <div class="text-big-bold">
          {{entry.title}}
        </div>
      </div>
      <div class="ion-float-left">
        <div *ngIf="entry.type=='in'" >
          {{entry.amount}}
        </div>
        <div *ngIf="entry.type=='out'">
          {{entry.amount}}
        </div>
        <div>
          main
        </div>
      </div>

    </div>

  </ion-card-content>
</ion-card>
